@{
    ViewBag.Title = "Contacto";
}

<div class="col-md-12" style="background-color: inherit">
    <div class="row col-md-12" style="text-align: center">
        <h1>Contacto Prensa Esutidantil</h1>
        <h4 class="green-color"><b>Nos encanta que nos contactes ❤</b></h4>
        <hr />
    </div>

    <br clear="all" />

    <p>
        Si deseas compartir contenido para ser publicado, puedes hacerlo a través de nuestro email o nuestras redes sociales. O a nuestro
    <strong>Email:</strong> <a href="mailto:Support@example.com">prensaestudiantil@hotmail.com</a>
    </p>

    <div class="col-md-4" style="text-align: center">
        <div class="mt-20" style="border: 1px solid #D8D8D8; border-radius: 10px; padding: 10px;">
            <a href="http://www.facebook.com/prensa.estudiantil.uis" target="_blank">
                <img class="card-img"
                     src="~/Content/Images/resources/logo-facebook.png"
                     style="width: 100%; margin-bottom: 5px;"
                     alt='Facebook'
                     title='Facebook' />
            </a>
            <span class="imagePublication"> Prensa Estudiantil </span>
        </div>
    </div>

    <div class="col-md-4" style="text-align: center">
        <div class="mt-20" style="border: 1px solid #D8D8D8; border-radius: 10px; padding: 10px;">
            <a href="https://twitter.com/prensaestudiant" target="_blank">
                <img class="card-img"
                     src="~/Content/Images/resources/logo-twitter.png"
                     style="width: 100%; margin-bottom: 5px;"
                     alt='Twitter'
                     title='Twitter' />
            </a>
            <span class="imagePublication"> @@prensaestudiant </span>
        </div>
    </div>

    

    <br clear="all" />
    <br clear="all" />
</div>
