
@{
    ViewBag.Title = "AddPhotosToPublication";
}

<h2>AddPhotosToPublication</h2>


<input class="form-control col-md-4" type="file" id="fileUpload" name="fileUpload" onChange="validateUploadFile();" />
<input type="button" id="btn-send-ajax" name="btn-send-ajax" value="Create" class="btn btn-success" />


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        
    $(document).ready(function () {

        $("#btn-send-ajax").click(function () {
            var selectFile = ($("#fileUpload"))[0].files[0];
            var dataString = new FormData();

            dataString.append("fileUpload", selectFile);

            // Validamos que se haya cargado archivo
            if (!selectFile) {
                $("#imageUploadValidation").removeClass("hidden");
                $("#imageUploadValidation").text("Debe seleccionar un archivo válido");
            }
            else {
                $("#imageUploadValidation").addClass("hidden");

                $.ajax({
                    url: '@Url.Action("AddPhotosToPublication", "Publications")',
                    type: "POST",
                    //data: dataString,
                    data: { idPublication: 2, description: 'esta es la descripcion'},
                    contentType: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        if (typeof (data.Value) != "undefined") {
                            alert(data.Message);
                        }
                        else {
                            alert("Error no identificado al cargar la imagen.");
                        }
                    },
                    error: function (data) {

                    }
                });
            }
        });
    });
    </script>
}
